VITE_API_BASE_URL=https://noisesentinel.tech/api

DB_CONNECTION_STRING=Server=tcp:noise-sentinel-fyp.database.windows.net,1433;Initial Catalog=Noise-Sentinel-Fyp;Persist Security Info=False;User ID=noise-sentinel-fyp;Password=REPLACE_ME;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;

JWT_SECRET=replace_with_32_plus_characters
JWT_ISSUER=NoiseSentinelAPI
JWT_AUDIENCE=NoiseSentinelClient
JWT_EXPIRATION_MINUTES=1440

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SENDER_EMAIL=admin@noisesentinel.tech
SMTP_SENDER_NAME=NoiseSentinel
SMTP_APP_PASSWORD=replace_with_app_password
SMTP_ENABLE_SSL=true
SMTP_OTP_EXPIRATION_MINUTES=15
